<aside class="side">
    <div class="scrollbar-inner">
        <div class="navigation">
            <div>
                <span>菜单</span>
            </div>
            <div>
                <span><a href="/redis/monitor" target="iframe">Redis监控</a></span>
            </div>
            <div>
                <span><a href="/redis/info" target="iframe">Redis信息</a></span>
            </div>
            <div>
                <span><a href="/redis/terminal" target="iframe">Redis终端</a></span>
            </div>
        </div>
    </div>
</aside>